* {
    margin: 0;
    padding: 0;
}

body {
background: #222;
    overflow-x: hidden;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s;
    z-index: 5000; 
    }
    
      .loader.complete{
        opacity: 0;
    visibility: 0;
    pointer-events: none 
    }    
     .pre-loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: 3000;
}
.pre-loader::before{
    content: '';
    position: absolute;
    left: 0;
    width: 60%;
    height: 100%;
     background-color:#fff;
    transition: 1s;
    
}
.pre-loader.complete::before{
   
   left:-60%; 
}
.pre-loader::after{
    content: '';
    position: absolute;
    right:0;
    width: 60%;
    height: 100%;
     background-color:#fff;
    transition: 1s;
    
}
.pre-loader.complete::after{
   
  right:-60%; 
}
.pre-loader.complete{
    opacity: 0;
    visibility: 0;
    pointer-events: none;
    
} 


/*top details*/
.top-details {
    background-color: #222;
    display: flex;
    color: #444;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 620;
    font-family: monospace;
    align-items: center;

}

.notify {
    display: flex;
    justify-content: center;
}


.top-details div {
    flex: 1;
}

/*top details*/
@media (max-width:576px) {
    .responsive {
        display: none;
    }
}


/*start of navigation*/
.school-nav-text {
    text-transform: uppercase;
    font-size: 18px;
}

.school-nav-btn {
    border: 0;
    background: transperent;
    cursor: pointer;
    font-size: 20px;

}

.school-open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.school-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out 0.4s;
    z-index: 1000;
}

.school-nav.visible {
    transform: translateX(0);
}

.school-nav-black {
    background-color: #333;
    width: 59%;
    max-width: 480px;
    min-width: 320px;
}

.school-nav-black.visible {
    transition-delay: 0s;
}

.school-nav-red {
    background-color: #c9c914;
    transition-delay: 0.2s;
    width: 95%;
}

.school-nav-red.visible {
    transition-delay: 0.3s;
}

.school-nav-white {
    background-color: #fff;
    padding: 40px;
    transition-delay: 0s;
    width: 95%;
}

.school-nav-red.visible {
    transition-delay: 0.4s;
}

.school-nav-container {
    position: relative;
}

.school-close-btn {
    opacity: 0.3;
    position: absolute;
    top: 10px;
    right: 0;
}

.school-logo {
    width: 150px;
}

.school-list {
    list-style: none;
    padding: 0;
}

.school-list li {
    margin: 20px 0;
}

.school-list li a {
    color: rgb(34, 31, 31);
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

/*end of navigation*/


/*START OF LANDING PAGE*/
/*landing page*/
.landing-page {
    margin-top: 4rem;
    background-image: linear-gradient(90deg, red, var(--orange));
    ">

}


/*start of ribbon*/
/*READY FOR NORMAL RIBBON*/
.ribbon-main-divy {
    position: absolute;
    width: 99%;
    top: 5%;
    left: -0.7%;
    transform: translate(-0.7%, -5%);
    z-index: 10;
}

.ribbon-product {
    width: 100%;
    height: 65px;
    margin: auto;
    position: relative;
    color: white;
    /*    font-size: 3em;*/
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 65px;
    box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.4);
}

.ribbon-product span {
    position: absolute;
}

.ribbon-product span {
    position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border: 20px solid transparent;
}


/*READY FOR NORMAL RIBBON*/
.img-ribbon-top {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.ribbon-top-logo {
    width: 30px;
    height: 30px;
}

.ribbon-top {
    display: flex;
    align-items: flex-start;

}

.details-ribbon {
    display: flex;
}

/*end of ribbon*/


.outer-divy-category {
    background: rgba(255, 255, 255, 0.4);
    padding: 12px;
    border-radius: 10px;
}

.category-pro-row {
    margin: 12px;
    border-radius: 10px;

}

.course-category-col {
    box-shadow: 10px 12px 10px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.course-over-head {
    display: inline-block;
    position: relative;
    margin-top: 20%;
}

.course-over-head .left1 {
    border-top: 3px solid yellow;
    position: absolute;
    width: 35px;
    top: 35%;
    left: -17%;
    transform: translate(-17%, -35%);
    border-radius: 10px;

}

.head-overview {
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
    opacity: .7;
}

.course-over-head .left2 {
    border-top: 3px solid yellow;
    position: absolute;
    width: 25px;
    top: 60%;
    left: -12%;
    transform: translate(-12%, -60%);
    border-radius: 10px;

}

.course-over-head .right1 {
    border-top: 3px solid yellow;
    position: absolute;
    width: 35px;
    top: 35%;
    right: -22%;
    transform: translate(-22%, -35%);
    border-radius: 10px;

}

.course-over-head .right2 {
    border-top: 3px solid yellow;
    position: absolute;
    width: 25px;
    top: 60%;
    right: -15%;
    transform: translate(-15%, -60%);
    border-radius: 10px;

}

.logy {
    width: 20px;
}

.course-divy-otline h5 {
    position: relative;
    display: inline-block;

}

.course-divy-otline h5::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 50%;
    background: #c9c914;
    top: 50%;
    left: -10%;
    transform: translate(-10%, -50%);
}

.divy-ccourse {
    width: 50%;
    margin: auto;
}

@media (max-width:576px){
   .divy-ccourse {
    width: 90%;
    margin: auto;
} 
}

.divy-category-prod .btn-popular-divy {
    position: absolute;
    left: 0;
    bottom: -5%;
    width: 100%;
    z-index: 1;
    text-align: center;
    transform: translate3d(0, 0, 0);


}

.divy-category-prod .btn-popular-divy .enroll-popular-btn {
    padding: 10px 40px;
    text-transform: uppercase;
    outline: 0;
    margin: 0;
    border: 0;
    border-radius: 4px;
    color: var(--white);
    background-color: transparent;

}

.divy-category-prod .btn-popular-divy .enroll-popular-btn:hover {
    color: yellow;
}

@media (max-width:576px) {
    .course-over-head .left1 {
        display: none;
    }

    .course-over-head .left2 {
        display: none;
    }

    .course-over-head .right1 {
        display: none;
    }

    .course-over-head .right2 {
        display: none;
    }

    .course-category-col .ribbon-top h5 {
        font-size: 1em;
    }

    .course-over-head {
        margin-top: 8rem;
    }

    .course-over-head h5 {
        font-size: 1em;

    }

    .course-divy-otline h5 {
        font-size: 1em;
    }

    .outer-divy-category {
        padding: 2px;
    }

    .category-pro-row {
        margin: 2px;

    }


}

/*END OF LANDING PAGE*/

/*START OF SERVICES*/
.underline_about{
    border-top: 3px solid cornflowerblue;;
    width: 40%;
    margin-left: 5%;
}

.cardyyy{
     background-image: linear-gradient(90deg,#c71b22,var(--primary));
    border-radius: 10px;
    font-family: monospace;
    font-size: 1.1rem;
    transition: all .6s ease-in-out;
    color: #fff;
}
.cardyyy:hover{
     background-image: linear-gradient(90deg,#c71b22,var(--orange));
    
}
.cvBtn{
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    transition: all 1s;
}
.cvBtn:hover{
    background: #512da8 ;
    color: white;
}

.about-img__container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem outset white;
  z-index: -1;
  transition: all 1s ease-in-out;
   
}
.about-img__container:hover:before {
  top: 0;
  left: 0;
}

/*END OF SERVICES*/


/*START OF WEEKLY COURSES*/
/*READY FOR NORMAL RIBBON*/

.ribbon{
    width: 600px;
    height: 65px;
    margin: auto;
    position: relative;
    color: white;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background: #3d99d0;
    line-height: 65px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.8);
}

.ribbon span{
    position: absolute;
}

.ribbon span:first-child, .ribbon span:nth-child(2){
   position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border: 20px solid transparent;
    border-right-color: #043140;
}
.ribbon span:nth-child(2){
    left: auto;
    right: -20px;
    border-right-color: transparent;
    border-left-color: #043140;
}
.ribbon span:nth-child(3), .ribbon span:last-child{
    width: 20px;
    bottom: -20px;
    left: -40px;
    z-index: -2;
    border: 30px solid #1d53c0;
    border-left-color: transparent;
}

.ribbon span:last-child{
    bottom: -20px;
    left: auto;
    right: -40px;
    border: 30px solid #1d53c0;
    border-right-color: transparent;
}

/*READY FOR NORMAL RIBBON*/

@media(max-width:650px){
  .ribbon{
    width: 500px;
    font-size: 2em;  
}
}
@media(max-width:550px){
  .ribbon{
    width: 400px;
    font-size: 1.5em;  
} 
}
@media(max-width:450px){
  .ribbon{
    width: 300px;
      font-size: 1.3em; 
} 
}
@media(max-width:355px){
  .ribbon{
    width: 250px;
      font-size: 1em; 
} 
}

.weekly-courses{
    position: relative;
}

.weekly-courses .ribbon-main-divy {
    position: absolute;
    width: 110%;
    top: -25%;
    left: -3%;
    transform: translate(-3%, -25%);
    z-index: 10;
}

.weekly-courses .divy-ccourse {
    width: 90%;
    margin: auto;
}

 .weekly-courses .divy-category-prod .btn-popular-divy {
    position: absolute;
    left: 0;
    bottom: -15%;
    width: 100%;
    z-index: 1;
    text-align: center;
    transform: translate3d(0, 0, 0);


}


/*end of ribbon*/


/*END OF WEEKLY COURSES*/


/*START OF PROJECTS*/

.project-ribbon-col .ribbon{
    width: 400px;
    font-size: 2.5em;
}

@media(max-width:550px){
  .project-ribbon-col .ribbon{
    width: 400px;
    font-size: 1.5em;  
} 
}
@media(max-width:450px){
  .project-ribbon-col .ribbon{
    width: 300px;
      font-size: 1.3em; 
} 
}

@media (max-width:410px){
   .ribbon span:first-child, .ribbon span:nth-child(2){
   position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border: 20px solid transparent;
    border-right-color: #043140;
}
.ribbon span:nth-child(2){
    left: auto;
    right: -20px;
    border-right-color: transparent;
    border-left-color: #043140;
}
.ribbon span:nth-child(3), .ribbon span:last-child{
    width: 20px;
    bottom: -20px;
    left: -20px;
    z-index: -2;
    border: 20px solid #1d53c0;
    border-left-color: transparent;
}

.ribbon span:last-child{
    bottom: -20px;
    left: auto;
    right: -20px;
    border: 20px solid #1d53c0;
    border-right-color: transparent;
}  
}
@media(max-width:355px){
  .project-ribbon-col .ribbon{
    width: 250px;
      font-size: 1em; 
}
   
    
}
.col-prject-vida{
    position: relative;
}
.video-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:90%;
    height:80%;
    z-index: 1;
}
.video-item{
    width:100%;
    height:100%;
    object-fit: cover;
}
.video-container2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:50%;
    height:80%;
    z-index: -1;
}
.video-item2{
    width:100%;
    height:100%;
    object-fit: cover;
}

.btn-recent-projects{
    text-transform: uppercase;
}

/*END OF PROJECTS*/

/*START OF REVIEWS*/

/*reviews area*/
.reviews-area{
    margin-top: 6rem;
  padding: 20px 0;
 position: relative;
 background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    
}

.single-review{
    color: #fff;
    padding-left: 75px;
    position: relative;
    margin: 0 35px 35px;
}
.img-div-area{
    border-radius: 50%;
    height: 150px;
    left: 0;
    margin-left: -15px;
    position: absolute;
    top: 50%;
    width: 150px;
    z-index: 20;
}
.review-text{
    background: #004d40;
    padding: 40px 20px 40px 100px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: skewY(-10deg);
    box-sizing: border-box;
    box-shadow: 12px 25px 30px rgba(0,0,0,0.3);
    
}
.img-carousel-review{
    background: linear-gradient(to bottom,darkcyan,white);
    border-radius: 50%;
    padding: 5px;
}
.review-text h4{
    font-size: 30px;
    margin-bottom: 30px;
    font-family:monospace;
}
.review-text p{
    font-size: 18px;
    line-height: 25px;
}

.reviews-area div.owl-nav{
    color: yellow;
    display: inline-block;
    font-size: 55px;
    height: 60px;
    margin-top: -30px;
    text-align: center;
    width: 40px;
    transition: 0.3s;
}
.owl-prev, .owl-next{

position: absolute;
}
.owl-prev{
    left: -50px;
    top: 100px;
}
.owl-next{
    right: -50px;
    top: 100px;
}
@media(max-width:768px){
   .img-div-area{
    border-radius: 50%;
    height: 100px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    width: 100px;
    z-index: 20;
} 
    .review-text{
    padding: 20px 10px 20px 50px;
    transform: skewY(-6deg);
        z-index: 30;
    
}
    .review-text h4{
    font-size: 20px;
    margin-bottom: 10px;
    font-family:monospace;
}
.review-text p{
    font-size: 15px;
    line-height: 25px;
}
    .review-header h3{
        font-size: 2rem;
    }
    .owl-prev{
    left: -10px;
    top: 100px;
}
.owl-next{
    right: -20px;
    top: 100px;
}
  
    
}

@media(max-width:350px){
       .img-div-area{
    border-radius: 50%;
    height: 80px;
    left: 0;
    margin-left: -1px;
    position: absolute;
    top: 50%;
    width: 80px;
    z-index: 20;
} 

    .review-text{
    padding: 10px 5px 10px 20px;
    transform: skewY(-6deg);
    z-index: 30;
    
}
    .review-text h4{
    font-size: 16px;
    margin-bottom: 10px;
    font-family:monospace;
}
.review-text p{
    font-size: 12px;
    line-height: 25px;
}
    .review-header h3{
        font-size: 2rem;
    }
    .owl-prev{
    left: -10px;
    top: 100px;
}
.owl-next{
    right: -20px;
    top: 100px;
}
  
    
}


/*reviews area*/

/*END OF REVIEWS*/


/*START OF BLOG*/

.col-blog-img {
    overflow: hidden;
}
.col-blog-img img{
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.col-blog-img:hover .search-icon2{
  opacity: 1;  
} 
.col-blog-img:hover img{
    transform: scale(1.2);
    opacity: .6;
}
@media(max-width:576px){
 .blog-area h1{
    font-size:1.5rem; 
} 
    #blogy .appointment-index-head{
        font-size:2rem;
    }
    
}


/*END OF BLOG*/


/*START OF GET IN TOUCH*/
.comment-form {
            border-top: 1px solid #eee;
            padding-top: 45px;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .comment-form .form-group {
            margin-bottom: 30px;
        }

        .comment-form h4 {
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 22px;
        }


        .comment-form .name {
            padding-left: 0px;
        }

        @media (max-width: 767px) {

            .comment-form .name {
                padding-right: 0px;
                margin-bottom: 1rem;
            }
        }

        .comment-form .email {
            padding-right: 0px;
        }

        @media (max-width: 991px) {

            .comment-form .email {
                padding-left: 0px;
            }
        }

        .comment-form .form-control {
            border: 1px solid #f0e9ff;
            border-radius: 5px;
            height: 48px;
            padding-left: 18px;
            font-size: 13px;
            background: transparent;
        }

        .comment-form .form-control:focus {
            outline: 0;
            box-shadow: none;
        }

        .comment-form .form-control::placeholder {
            font-weight: 300;
            color: #999999;
        }

        .comment-form .form-control::placeholder {
            color: #777777;
        }

        .comment-form textarea {
            padding-top: 18px;
            border-radius: 12px;
            height: 100% !important;
        }

        .comment-form ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 13px;
            color: #777;
        }

        .comment-form ::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 13px;
            color: #777;
        }

        .comment-form :-ms-input-placeholder {
            /* IE 10+ */
            font-size: 13px;
            color: #777;
        }

        .comment-form :-moz-placeholder {
            /* Firefox 18- */
            font-size: 13px;
            color: #777;
        }
/*END OF GET IN TOUCH*/
/*START OF TEAM*/
.social a img{
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    margin-left: 0.4rem;
}
.social a{
    text-decoration: none;
}
.social a img:hover{
    transform: scale(1.4,1.4);
    transition: all 0.3s ease;
}

.col-team{
   position: relative;
    width:340px;
    height: 420px;
    transform:rotate(0deg) skew(0deg) scale(.8);
    transition: all 1s;
    border-radius: 20px;
}

.profilepic{
   position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transform: scale(.8);
    transition: 0.8s;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    
      
}
.col-team:hover .profilepic:nth-child(1){
    transform: translate(-50px,50px) scale(.8);
    
/*    transform: translateX(-80%) rotate(360deg) scale(.8);*/
    
    
}
.cardy{
    position: absolute;
    transition: 0.8s;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    z-index: 5;
    opacity: 0;
    transform: translate(-50%,-50%)scale(.1);
    background-image: linear-gradient(90deg,var(--orange),var(--primary));
}
.col-team:hover .cardy:nth-child(2){
    transform: translate(100px,-100px);
    opacity: 1;
    box-shadow: 32px 55px 50px rgba(0,0,0,0.6);
}


@media (max-width:768px){
   .col-team{
   position: relative;
    width:240px;
    height: 320px;
    transform:rotate(0deg) skew(0deg) scale(.8);
    transition: all 1s;
    border-radius: 20px;
}

}

@media (max-width:576px){
    .cardy{
        height: 100%;
        width: 100%;
        left: 40%;
    top: 10%;    
    transform: translate(0px,-0px);
    opacity: 1;
    box-shadow: 32px 55px 50px rgba(0,0,0,0.6);
    }
    .col-team:hover .cardy:nth-child(2){
    transform: translate(0px,-0px);
    opacity: 1;
}

    .col-team .profilepic{
      transform: translate(-90px,0px) scale(.6);  
    } 
        .col-team:hover .profilepic:nth-child(1){
    transform: translate(-90px,0px) scale(.6);  
    
    
}
    
    
}

/*END OF TEAM*/
/*START OF FOOTER*/
 /*    start of footer*/
        footer {
            background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(img/3.jpg);
            background-attachment: fixed;
            color: #d5d5d5;
            padding-top: 2rem;
        }

        hr.light {
            border-top: 1px solid #d5d5d5;
            width: 70%;

        }

        form.subscribe {
            margin-left: 30px;
            text-align: center;
            margin-top: 20px;
        }

        hr.dark {
            border-top: 1px solid #d5d5d5;
            width: 40%;

        }

        hr.blue {
            border-top: 1px solid #d5d5d5;
            width: 100%;

        }

        .footer-logo {
            width: 100px;
        }

        /*    end  of footer*/

/*START OF FOOTER*/



/*WEEKLY COURSES PAGE*/

/*end of about week course*/

.product-tab {
	padding-top: 60px;
}

.tab-item ul li:nth-child(1) a {
	border-right: 1px solid #ebebeb;
}

.tab-item ul li:nth-child(2) a {
	border-right: 1px solid #ebebeb;
}

.tab-item ul li:nth-child(3) a {
	border-right: 1px solid #ebebeb;
}

.tab-item ul li a {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #b2b2b2;
	text-transform: uppercase;
	padding: 18px 61px;
	position: relative;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

.tab-item ul li a.active {
	color: #252525;
}

.tab-item ul li a.active:before {
	opacity: 1;
}

.tab-item ul li a::before {
	position: absolute;
	left: 0;
	top: -1px;
	width: 100%;
	height: 5px;
	background: #e7ab3c;
	content: "";
	opacity: 0;
}

.product-content {
	padding-top: 40px;
}

.product-content h5 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 23px;
}

.product-content p {
	margin-bottom: 34px;
}

.product-content img {
	min-width: 100%;
}

.specification-table {
	padding-top: 52px;
}

.specification-table table {
	width: 100%;
}

.specification-table table tr td {
	border: 1px solid #EFF0F2;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
}

.specification-table table tr td.p-catagory {
/*	width: 310px;*/
	text-align: left;
	padding-left: 34px;
	font-size: 12px;
	color: #4c4c4c;
	font-weight: 700;
	text-transform: uppercase;
}

.specification-table table tr td .pd-rating i {
	font-size: 12px;
	display: inline-block;
	color: #FAC451;
	margin-right: -3px;
}

.specification-table table tr td .pd-rating span {
	font-size: 12px;
	color: #999591;
}

.specification-table table tr td .p-price {
	color: #e7ab3c;
	font-size: 16px;
	font-weight: 700;
}

.specification-table table tr td .cart-add {
	font-size: 16px;
	color: #252525;
	font-weight: 700;
	text-transform: uppercase;
}

.specification-table table tr td .p-stock,
.specification-table table tr td .p-size,
.specification-table table tr td .p-code {
	font-size: 16px;
	color: #4c4c4c;
	font-weight: 700;
}

.specification-table table tr td .p-weight {
	font-size: 14px;
	color: #4c4c4c;
	font-weight: 700;
}

.specification-table table tr td .p-size {
	text-transform: uppercase;
}

.specification-table table tr td .cs-color {
	display: inline-block;
	height: 20px;
	width: 20px;
	background: #252525;
	border-radius: 50%;
}

.customer-review-option {
	padding-top: 55px;
}

.customer-review-option h4 {
	color: #292f3b;
	font-weight: 700;
	margin-bottom: 35px;
}

.customer-review-option .comment-option .co-item {
	margin-bottom: 20px;
}

.customer-review-option .comment-option .co-item .avatar-pic {
	float: left;
	margin-right: 20px;
}

.customer-review-option .comment-option .co-item .avatar-pic img {
	height: 63px;
	width: 63px;
	border-radius: 50%;
}

.customer-review-option .comment-option .co-item .avatar-text {
	display: table;
}

.customer-review-option .comment-option .co-item .avatar-text .at-rating {
	line-height: 9px;
}

.customer-review-option .comment-option .co-item .avatar-text .at-rating i {
	font-size: 12px;
	display: inline-block;
	color: #FAC451;
	margin-right: -3px;
}

.customer-review-option .comment-option .co-item .avatar-text h5 {
	color: #252525;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
}

.customer-review-option .comment-option .co-item .avatar-text h5 span {
	color: #b2b2b2;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-left: 22px;
	position: relative;
}

.customer-review-option .comment-option .co-item .avatar-text h5 span:before {
	position: absolute;
	left: -18px;
	top: -5px;
	content: "-";
	font-size: 18px;
	color: #b2b2b2;
}

.customer-review-option .comment-option .co-item .avatar-text .at-reply {
	font-size: 14px;
	color: #636363;
}

.customer-review-option .personal-rating {
	margin-bottom: 50px;
	padding-top: 10px;
}

.customer-review-option .personal-rating h6 {
	color: #252525;
}

.customer-review-option .personal-rating .rating i {
	font-size: 12px;
	display: inline-block;
	color: #FAC451;
	margin-right: -3px;
}

.customer-review-option .leave-comment h4 {
	color: #292f3b;
	font-weight: 700;
	margin-bottom: 35px;
}

.customer-review-option .leave-comment .comment-form input {
	width: 100%;
	font-size: 16px;
	color: #636363;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.customer-review-option .leave-comment .comment-form textarea {
	width: 100%;
	resize: none;
	font-size: 16px;
	color: #636363;
	height: 116px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 45px;
}

@media(max-width:576px){
    .about-description-text{
        font-size: 1rem;
    }
}

/*end of about week course*/


/*start week day course*/
.day-course-link{
    display: block;
    box-shadow: 10px 12px 10px rgba(0,0,0,0.5);
    border-bottom: 1px solid grey;
    transition: all ease 0.5s;
}
.day-course-link:hover{
    background: rgba(255,255,255,0.1);
}
.day-week-course-head{
    font-family: serif;
    color: #eae4e4;
}
.text-info-day-week-course{
    color: #ebebeb;
    font-family: monospace;
    opacity: .7;
}
.enroll-btn-day-course{
     padding: 10px 40px;
    text-transform: uppercase;
    outline: 0;
    margin: 0;
    border: 0;
    border-radius: 4px;
    color: var(--white);
    background-color: transparent; 
}

.enroll-btn-day-course:hover {
    color: yellow;
}
/*end week day course*/


/*WEEKLY COURSES PAGE*/




/*/START OF DAY COURSE/*/

.day-course-landing{
    margin-top: 5rem;
    margin-bottom: 2rem;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.tutorial-pic{
    position: relative;
    
}
.divy{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,var(--orange),var(--primary));
}


.vida-main-div{
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
}
.divy img{
    max-width: 100%;
}
.cardy-code{
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll; 
}
.tutorial-play-div-row{
    transition: all ease .5s;
    cursor: pointer;
}
.tutorial-play-div-row:hover{
    background: rgba(255,255,255,0.2);
}


/*chat area    */
    .col-contacts{
        background:#e5dddd;
        overflow: hidden;
        
    }
    .contact-link{
        display: flex;
        justify-content: space-around;
        
    }
    .contact-img{
        width:50px;
        height: 50px;
        border-radius: 100%;
    }
    .contact-top-img{
      width:50px;
        height: 50px;
        border-radius: 100%;  
    }
    .top-contact-bar{
        display: flex;
        justify-content: space-between;
    }
    .contact-share a{
    margin: 10px;
    font-size: 1.2rem;    
    }
      .message-contact-div{
            height: 60vh;
            overflow-y: auto;
          overflow-x: hidden;
        }
     .contact-img-messg{
            width:60px;
        height: 60px;
        border-radius: 100%;  
        }
    .input-group-text{
        background: #2a94fe;
        color: white;
    }
  
    @media(max-width:768px){
       .contact-div{
       display: flex;
/*        overflow-x: scroll;*/
        justify-content: space-between;
        
    }
         .contact-link{
        display: block;
       
    }
             .contact-link h6 span{
        font-size:.7rem;
       
    }
           .contact-img{
        width:40px;
        height: 40px;

    }
    .contact-top-img{
      width:40px;
        height: 40px;
      
    }
         .top-contact-bar{
        align-items: center;
    }
      
        .display-none{
            display: none;
        } 
        .contact-img-messg{
            width: 40px;
            height:40px;
        }
        .message-contact-div{
            height: 100vh;
            overflow-y: auto;
          overflow-x: hidden;
        }
        
        
    }
    
    
/*chat area    */
    

/*/END OF DAY COURSE/*/


/*BLOG*/

/*SINGLE BLOG VIEW HTML*/

/*============ Start Blog Single Styles  =============*/
#blog_area{
  background: url(images/backg.jpeg);
 background-size: cover;
background-attachment: fixed;    
}

.bg-transparent-white{
    background: rgba(255,255,255,0.9);
}
.bg-white{
    background: white;
}

.single-post-area .blog_details {
  box-shadow: none;
  padding: 0;
}

.single-post-area .social-links {
  padding-top: 10px;
}

.single-post-area .social-links li {
  display: inline-block;
  margin-bottom: 10px;
}

.single-post-area .social-links li a {
  color: #cccccc;
  padding: 7px;
  font-size: 14px;
  transition: all 0.2s linear;
}

.single-post-area .blog_details {
  padding-top: 26px;
}

.single-post-area .blog_details p {
  margin-bottom: 20px;
  font-size: 15px;
}

.single-post-area .quote-wrapper {
  background: rgba(130, 139, 178, 0.1);
  padding: 15px;
  line-height: 1.733;
  color: #888888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {

  .single-post-area .quote-wrapper {
    padding: 30px;
  }
}


.single-post-area .quotes {
  background: #fff;
  padding: 15px 15px 15px 20px;
  border-left: 2px solid;
}

@media (min-width: 768px) {
 
  .single-post-area .quotes {
    padding: 25px 25px 25px 30px;
  }
}


.single-post-area .arrow {
  position: absolute;
}


.single-post-area .arrow .lnr {
  font-size: 20px;
  font-weight: 600;
}


.single-post-area .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8);
}

.single-post-area .navigation-top {
  padding-top: 15px;
  border-top: 1px solid #f0e9ff;
}

.single-post-area .navigation-top p {
  margin-bottom: 0;
}

.single-post-area .navigation-top .like-info {
  font-size: 14px;
}

.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
  font-size: 16px;
  margin-right: 5px;
}

.single-post-area .navigation-top .comment-count {
  font-size: 14px;
}

.single-post-area .navigation-top .comment-count i,
.single-post-area .navigation-top .comment-count span {
  font-size: 16px;
  margin-right: 5px;
}

.single-post-area .navigation-top .social-icons li {
  display: inline-block;
  margin-right: 15px;
}


.single-post-area .navigation-top .social-icons li:last-child {
  margin: 0;
}


.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
  font-size: 14px;
  color: #999999;
}

.single-post-area .blog-author {
  padding: 40px 30px;
  background: #fbf9ff;
  margin-top: 50px;
}

@media (max-width: 600px) {
 
  .single-post-area .blog-author {
    padding: 20px 8px;
  }
}

.single-post-area .blog-author img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 30px;
}

@media (max-width: 600px) {
  .single-post-area .blog-author img {
    margin-right: 15px;
    width: 45px;
    height: 45px;
  }
}


.single-post-area .blog-author a {
  display: inline-block;
}


.single-post-area .blog-author a:hover {
  color: #B08EAD;
}

.single-post-area .blog-author p {
  margin-bottom: 0;
  font-size: 15px;
}

.single-post-area .blog-author h4 {
  font-size: 16px;
}

.single-post-area .navigation-area {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-top: 55px;
}


.single-post-area .navigation-area p {
  margin-bottom: 0px;
}

.single-post-area .navigation-area h4 {
  font-size: 18px;
  line-height: 25px;
}

.single-post-area .navigation-area .nav-left {
  text-align: left;
}


.single-post-area .navigation-area .nav-left .thumb {
  margin-right: 20px;
  background: #000;
}


.single-post-area .navigation-area .nav-left .thumb img {
  -webkit-transition: 0.5s;
    width: 50px;   
  transition: 0.5s;
}

.single-post-area .navigation-area .nav-left .lnr {
  margin-left: 20px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


.single-post-area .navigation-area .nav-left:hover .lnr {
  opacity: 1;
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
  opacity: .5;
    
}
.blog-info-link li {
  float: left;
  font-size: 14px;
}

.blog-info-link li a {
  color: #999999;
}


.blog-info-link li i,
.blog-info-link li span {
  font-size: 13px;
  margin-right: 5px;
}

.blog-info-link li::after {
  content: "|";
  padding-left: 10px;
  padding-right: 10px;
}


.blog-info-link li:last-child::after {
  display: none;
}


.blog-info-link::after {
  content: "";
  display: block;
  clear: both;
  display: table;
}


@media (max-width: 767px) {

  .single-post-area .navigation-area .nav-left {
    margin-bottom: 30px;
  }
}


.single-post-area .navigation-area .nav-right {
  text-align: right;
}
.single-post-area .navigation-area .nav-right .thumb {
  margin-left: 20px;
  background: #000;
}


.single-post-area .navigation-area .nav-right .thumb img {
  -webkit-transition: 0.5s;
width: 50px;    
  transition: 0.5s;
}

.single-post-area .navigation-area .nav-right .lnr {
  margin-right: 20px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-post-area .navigation-area .nav-right:hover .lnr {
  opacity: 1;
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
  opacity: .5;
}

@media (max-width: 991px) {
 
  .single-post-area .sidebar-widgets {
    padding-bottom: 0px;
  }
}

.comments-area {
  background: rgba(255,255,255,0.9);
  border-top: 1px solid #eee;
  padding: 45px 5px;
  margin-top: 50px;
}

@media (max-width: 414px) {
 
  .comments-area {
    padding: 50px 8px;
  }
}

.comments-area h4 {
  margin-bottom: 35px;
  font-size: 18px;
}

.comments-area h5 {
  font-size: 16px;
  margin-bottom: 0px;
}

.comments-area .comment-list {
  padding-bottom: 48px;
}

.comments-area .comment-list:last-child {
  padding-bottom: 0px;
}

.comments-area .comment-list.left-padding {
  padding-left: 25px;
}

@media (max-width: 413px) {
 
  .comments-area .comment-list .single-comment h5 {
    font-size: 12px;
  }

  .comments-area .comment-list .single-comment .date {
    font-size: 11px;
  }

  .comments-area .comment-list .single-comment .comment {
    font-size: 10px;
  }
}

.comments-area .thumb {
  margin-right: 20px;
}

.comments-area .thumb img {
  width: 70px;
  border-radius: 50%;
}


.comments-area .date {
  font-size: 14px;
  color: #999999;
  margin-bottom: 0;
  margin-left: 20px;
}

.comments-area .comment {
  margin-bottom: 10px;
  color: #777777;
  font-size: 15px;
}


.comments-area .btn-reply {
  background-color: transparent;
  color: #888888;
  padding: 5px 18px;
  font-size: 14px;
  display: block;
  font-weight: 400;
}


.comment-form {
  border-top: 1px solid #eee;
  padding-top: 45px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.comment-form .form-group {
  margin-bottom: 30px;
}

.comment-form h4 {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
}


.comment-form .name {
  padding-left: 0px;
}

@media (max-width: 767px) {
  
  .comment-form .name {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
}

.comment-form .email {
  padding-right: 0px;
}

@media (max-width: 991px) {

  .comment-form .email {
    padding-left: 0px;
  }
}

.comment-form .form-control {
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

.comment-form .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.comment-form .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

.comment-form .form-control::placeholder {
  color: #777777;
}

.comment-form textarea {
  padding-top: 18px;
  border-radius: 12px;
  height: 100% !important;
}

.comment-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13px;
  color: #777;
}

.comment-form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px;
  color: #777;
}
.comment-form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 13px;
  color: #777;
}

.comment-form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px;
  color: #777;
}

.single_sidebar_widget .btn_1 {
  margin-top: 0px;
  padding: 15px 24px;
}


.single_sidebar_widget .btn_1:hover {
  color: #B08EAD !important;
  border: 1px solid #B08EAD;
}

.blog_right_sidebar .widget_title {
  font-size: 20px;
  margin-bottom: 40px;
}


.blog_right_sidebar .widget_title::after {
  content: "";
  display: block;
  padding-top: 15px;
  border-bottom: 1px solid #f0e9ff;
}


.blog_right_sidebar .single_sidebar_widget {
  background: #fbf9ff;
  padding: 30px;
  margin-bottom: 30px;
}

.blog_right_sidebar .search_widget .form-control {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border-radius: 0;
  border-right: 0;
}

.blog_right_sidebar .search_widget .form-control::placeholder {
  color: #999999;
}


.blog_right_sidebar .search_widget .form-control:focus {
  border-color: #f0e9ff;
  outline: 0;
  box-shadow: none;
}

.blog_right_sidebar .search_widget .input-group button {
  background: #fff;
  border-left: 0;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0;
}

.blog_right_sidebar .search_widget .input-group button i,
.blog_right_sidebar .search_widget .input-group button span {
  font-size: 14px;
  color: #999999;
}


.blog_right_sidebar .newsletter_widget .form-control {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border-radius: 0;
}


.blog_right_sidebar .newsletter_widget .form-control::placeholder {
  color: #999999;
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
  border-color: #f0e9ff;
  outline: 0;
  box-shadow: none;
}

.blog_right_sidebar .newsletter_widget .input-group button {
  background: #fff;
  border-left: 0;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0;
}

.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
  font-size: 14px;
  color: #999999;
}

.blog_right_sidebar .post_category_widget .cat-list li {
  border-bottom: 1px solid #f0e9ff;
  transition: all 0.3s ease 0s;
  padding-bottom: 12px;
}


.blog_right_sidebar .post_category_widget .cat-list li:last-child {
  border-bottom: 0;
}

.blog_right_sidebar .post_category_widget .cat-list li a {
  font-size: 14px;
  line-height: 20px;
  color: #888888;
}


.blog_right_sidebar .post_category_widget .cat-list li a p {
  margin-bottom: 0px;
}


.blog_right_sidebar .post_category_widget .cat-list li + li {
  padding-top: 15px;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
  justify-content: center;
  align-self: center;
  padding-left: 20px;
}
.blog_right_sidebar .popular_post_widget .post_item img {
 width: 100px;
height: 60px;    
}


.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
  transition: all 0.3s linear;
}


.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
  color: #fff;
}


.blog_right_sidebar .popular_post_widget .post_item .media-body p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0px;
}


.blog_right_sidebar .popular_post_widget .post_item + .post_item {
  margin-top: 20px;
}


.blog_right_sidebar .tag_cloud_widget ul li {
  display: inline-block;
}

.blog_right_sidebar .tag_cloud_widget ul li a {
  display: inline-block;
  border: 1px solid #eeeeee;
  background: #fff;
  padding: 4px 20px;
  margin-bottom: 8px;
  margin-right: 3px;
  transition: all 0.3s ease 0s;
  color: #888888;
  font-size: 13px;
}


.blog_right_sidebar .tag_cloud_widget ul li a:hover {
  background: #B08EAD;
  color: #fff !important;
  -webkit-text-fill-color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


.blog_right_sidebar .instagram_feeds .instagram_row {
  display: flex;
  margin-right: -6px;
  margin-left: -6px;
}

.blog_right_sidebar .instagram_feeds .instagram_row li {
  width: 33.33%;
  float: left;
  padding-right: 6px;
  padding-left: 6px;
  margin-bottom: 15px;
}


.blog_right_sidebar .br {
  width: 100%;
  height: 1px;
  background: #eeeeee;
  margin: 30px 0px;
}
.feature-img{
 background: #fff;
    overflow: hidden;
    position: relative;
}
.feature-img:hover img{
    transition: all .6s ease-in-out;
}
.feature-img:hover img{
    transform: scale(1.3);
    opacity: 0.8;
}
.feature-img:hover .search-icon{
    opacity: 1;
}

/*============ End Blog Single Styles  =============*/


/*SINGLE BLOG VIEW HTML*/

/*BLOG*/